.gitattributes text eol=lf
.gitignore text eol=lf
*.c text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.vala text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
*.js text eol=lf
CODEOWNERS text eol=lf
